
@model Moment_Catering_System.Models.IngredientMaintenance
@{
    ViewBag.Title = "AddIngredient";
    Layout = "~/Views/Shared/_sideBar.cshtml";
}

<link rel="stylesheet" href="~/Style/styles.css">
<script src="~/Scripts/confirmation.js"></script>

<div class="container mt-5 d-flex justify-content-center">
    <form action="AddIngredient" method="post" id="CreateForm">
        <div class="card p-5">
            <h5 class="title" style=" color: #e7604a;">Add Ingredient</h5>
            @Html.HiddenFor(model => model.IngredientEntity.IngredientID)
            <div class="pt-4">
                @Html.TextBoxFor(model => model.IngredientEntity.IngredientName, new { @class = "form-control name-textbox", placeholder = "Enter Ingredient Name", required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.IngredientEntity.StockQty, new { @class = "form-control name-textbox", placeholder = "Enter Stock Quantity(kg)", required = "required" })
            </div>

            <div class="d-flex justify-content-between pt-5 align-items-center">
                <a href="IngredientList" class="cancel-btn">Back</a>
                <button type="submit" class="save-btn" id="Save">Save</button>
            </div>
        </div>
    </form>
</div>






