@model Moment_Catering_System.Models.IngredientMaintenance
@{
    ViewBag.Title = "IngredientList";
    Layout = "~/Views/Shared/_sideBar.cshtml";
}

<link rel="stylesheet" href="~/Style/StylesforList.css">
<script src="~/Scripts/confirmation.js"></script>

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Main row -->
            <div class="row">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="m-0 title">Ingredient List</h2>
                                <hr />
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Ingredient Name</th>
                                                <th>Stock Qty (kg)</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var data in Model.IngredientList)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => data.IngredientID)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => data.IngredientName)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => data.StockQty)
                                                    </td>
                                                    <td>

                                                        <a href="/IngredientMaintenance/EditIngredient?IngredientID=@data.IngredientID">  <i class="fa fa-edit" style="font-size:15.5px;color:forestgreen"></i></a>

                                                        <i class="fas fa-trash-alt" style="font-size:15.5px;color:red" onclick="deleteConfirm(event, '/IngredientMaintenance/DeleteIngredient?IngredientID=@data.IngredientID')"> </i>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!--end table-responsive-->
                                <hr />
                                <a href="AddIngredient" class="save-btn" style="float:right">Add New Ingredient</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@if (ViewBag.Msg != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
        };
    </script>

}

<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure you want to Delete?');
    });
</script>